@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 14px 'Open Sans', sans-serif;
}

ul {
  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
}

textarea,
input {
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px;
  width: 100%;
}

textarea {
  min-height: 75px;
  resize: none;
}

button {
  border: 1px solid #999;
  border-radius: 3px;
  color: #333;
  cursor: pointer;
  padding: 5px;

  &.btn-success {
    background: #090;
    border-color: #0f0;
    color: #fff;

    &:hover {
      background: #060;
    }
  }

  &.btn-danger {
    background: #900;
    border-color: #f00;
    color: #fff;

    &:hover {
      background: #600;
    }
  }
  &[disabled] {
    border: 1px solid #600;
    cursor: not-allowed;
    opacity: .5;
  }

  &.link {
    background: none;
    border: none;

    &:hover {
      background: none;
      color: #666;
    }
  }

  &:hover {
    background: #666;
    color: #fff;
  }
}

.flex {
  display: flex;

  > * {
    flex-grow: 1;
  }
}

.text-right {
  text-align: right;
}
